
<div class="row">
  <div class="col-6">
    <div class="button" routerLink="/retirar">
      RETIRAR
    </div>
  </div>
  <div class="col-6">
    <div class="button ms-auto" routerLink="/retirar/500">
      $500
    </div>
  </div>
</div>
<div class="row mt-5">
  <div class="col-6">
    <div class="button" routerLink="/depositar">
      DEPOSITAR
    </div>
  </div>
  <div class="col-6">
    <div class="button ms-auto" routerLink="/retirar/1000">
      $1000
    </div>
  </div>
</div>
<div class="row mt-5">
  <div class="col-6">
    <div class="button" routerLink="/balance">
      BALANCE
    </div>
  </div>
  <div class="col-6">
    <div class="button ms-auto" routerLink="/retirar/2000">
      $2000
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-12">
    <div class="button" (click)="salir()">
      SALIR
    </div>
  </div>
</div>
