<ng-container *ngIf="!cargando">
  <form class="text-center" [formGroup]="depositarForm" (ngSubmit)="onSubmit()" novalidate>
    <h3>Introduce el numero de cuenta</h3>
    <input type="text" name="cuenta" formControlName="cuenta" required>
    <h3>Introduce la cantidad a depositar</h3>
    <input type="text" name="cantidad" formControlName="cantidad" required>
    <h4>Tu balance actual: ${{ cuenta.balance }}</h4>
    <button type="submit" class="button m-auto">ACEPTAR</button>
  </form>
</ng-container>

